body
  background-color #F7F7F5

//  Element <table>
.table-simple
  border-collapse collapse
  width 100%

  tbody
    tr:nth-child(odd)
      background-color silver

//  Avatar image
.avatar-image
  border-radius 50%
  height 40px
  margin 0 16px
  width 40px

.container {
  padding-left 15px
  padding-right 15px
}
