/*
  Procurar
*/

#ComponentProcurar
  section
    width 90%
    margin 10px auto 0 auto

#ComponentBuscaLocais

  .mdl-list__item
    padding 0 0 20px 0

    &--three-line, &-primary-content, &-text-body
      height auto
